{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>Hello</p>
    <br>
    <p>You recently requested your password to be reset</p>
    <br>
    <p>Link:</p>
    <br>
    <p><a href="{{.Link}}">Click here to reset your password</a></p>
    </body>

    </html>
{{end}}